
body {
  background : #ff0000;
}

body a:first-child {
  color : #0000ff;
}

ul li {
  color : #ff0000;
}

ul li:first-child {
  color : #0000ff;
}

input {
  outline-style : none;
  outline-width : none;
  outline-color : none;
}

input[type="submit"] {
  -webkit-box-shadow : inset 1px 1px #000000;
  -moz-box-shadow    : inset 1px 1px #000000;
  -ms-box-shadow     : inset 1px 1px #000000;
  -o-box-shadow      : inset 1px 1px #000000;
  box-shadow         : inset 1px 1px #000000;
  -webkit-appearance : button;
  -moz-appearance    : button;
  appearance         : button;
}

